
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Verdana, sans-serif;
  }

  h1 {
    font-family: TRENTO;
  }
  h2 {
    font-family: TRENTO;
  }
  h3 {
    font-family: TRENTO;
  }
  canvas {
    padding:0 !important;
    margin:0 !important;
    display:absolute !important;
    top:0;
    left:0;
    
    width:100% !important;
    height:100% !important;
  }

  #RealPortrait {
      background-image: url(./assets/portrait.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }

  tr {
    border-bottom: 1px solid rgb(113 113 122);
  }
  tr:last-child {
    border-bottom: 0px;
  }
}

@font-face {
  font-family: 'TRENTO';
  src: url('./assets/font/TRENTO.eot');
  src: url('./assets/font/TRENTO.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/TRENTO.woff2') format('woff2'),
      url('./assets/font/TRENTO.woff') format('woff'),
      url('./assets/font/TRENTO.ttf') format('truetype'),
      url('./assets/font/TRENTO.svg#TRENTO') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}